@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* decider */

@keyframes bottomUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.draggable {
  -webkit-app-region: drag;
}

.nodrag {
  -webkit-app-region: none;
}

.decisionBounds {
  width: 100vw;
  height: 100vh;
}

.decisionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.decisionSubheader {
  color: #AFAFAF;
  text-align: center;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.6px;

  margin-top: 30px;
  
  animation: bottomUp 0.25s ease-out;
}

.decisionHeader {
  color: #FFF;
  font-family: Open Sans;
  margin-top: -5px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.8px;

  margin-bottom: 0px;

  animation: bottomUp 0.5s ease-out;
}

.decision {
  width: 50vw;
  height: 100vh;

  justify-content: center;
  align-items: center;
}

.decision :hover {
  cursor: pointer;
}

.decisionHeaderContainer {
  position: absolute;
  z-index: 1000;

  width: 100vw;
  height: 30px;

  top: 0;
  left: 0;
}

.decisionImg {
  margin-left: 25%;
  
  animation: bottomUp 0.75s ease-out;
}

.decisionDivider {

  position: absolute;
  z-index: 1000;

  top: 0px;
  left: 50%;

  width: 1px;
  height: 100vh;

  border-radius: 100px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.25) 52.81%, rgba(255, 255, 255, 0.00) 100%);

  animation: bottomUp 0.75s ease-out;
}

/* app */

.key {
  position: absolute;

  left: 50%;
  bottom: -20%;

  color: rgba(255, 255, 255, 0.1);
  font-family: Open Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.6px;

  opacity: 1;

  transition: all 1s ease-out;

  transform: translate(-50%, -50%);

  text-transform: uppercase;
}

.bg {
  border-radius: 15px;
  background: "#0D0D0D";
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
  padding: 20px;

  overflow: hidden;
}

.starboard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;

  -webkit-app-region: drag;

  animation: bottomUp 0.25s ease-out;
}

/* title */

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  align-items: baseline;

  margin-top: 0px;

  margin-bottom: 20px;

  -webkit-app-region: none;
}

.titleText {
  color: #FFF;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.8px;

  text-transform: uppercase;

  cursor: pointer;
  
  /* transition: all 0.2s ease; */
}

.titleTextInput {
  color: #FFF;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.8px;

  background-color: #0d0d0d;

  border: none;
  outline: none;

  text-transform: uppercase;

  cursor: pointer;
  
  transition: all 0.2s ease;
}

.titleEnding {
  color: #AFAFAF;
  font-family: Open Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.6px;

  text-transform: uppercase;

  cursor: pointer;
  
  transition: all 0.2s ease;
}

.title :hover {
  color: #FFF;
  /* transform: scale(1.5) translateX(15px); */
}

/* buttons */

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  gap: 10px;

  -webkit-app-region: none;
}

.button {
  width: 25px;
  height: 25px;

  position: relative;
  z-index: 1e9;

  transition: all 0.2s ease;

  -webkit-tap-highlight-color: transparent; 
}

.button :hover {
  cursor: pointer;
  transform: scale(1.5);
}

.textArea {
  width: 100%;

  margin-top: 50px;
  margin-bottom: 15px;

  overflow-y: scroll;

  background: #0d0d0d;
  /* background: #090909; */
  border: none;
  outline: none;

  margin-top: -10px;

  color: #A7A7A7;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 200% */
  letter-spacing: 1px;

  resize: none;

  scrollbar-width: none;
  
  animation: bottomUp 0.5s ease-out;
}

.textArea::-webkit-scrollbar {
  display: none;
}

/* bottom bar */

.bottomBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 20px;

  margin-top: -15px;

  animation: bottomUp 0.75s ease-out;
}

.saveStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.save {
  width: 25px;
  height: 25px;

  transition: all 0.2s ease;

  /* background-color: transparent; */
  /* padding: 0px; */
}

.save :hover {
  cursor: pointer;
  /* background-color: rgba(255, 255, 255, 0.25); */
  
  transform: scale(1.5);

  color: #fff
}

.status { 
  color: #AFAFAF;
  font-family: Open Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;

  text-transform: uppercase;

  transition: all 0.2s ease;
}

.right :hover {
  color: #FFF;
  transform: scale(1.5) translateX(-25px) translateY(-3px);
}
